.pageTitle {
  font-size: 2.5vmax;
  color: white;
  display: flex;
  text-align: center;
  align-self: center;
  font-weight: 300;
  margin: auto;
}

.contentWrapper {
  width: 35%;
  height: 91%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
}

.stepWrapper {
  width: 100%;
  height: 55%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.instructionsParagraph {
  width: 100%;
  color: white;
  font-weight: 300;
  font-size: 3.5vmin;
}

.firstStepUpper {
  margin-top: 17vh;
  margin-bottom: 2vh;
}

.firstStepLower {
  margin-bottom: 8vh;
}

.secondStepUpper {
  margin-top: 13vh;
  margin-bottom: 2vh;
}

.secondStepLower {
  margin-bottom: 8vh;
}

.thirdStep {
  margin: 17vh auto 10vh;
  text-align: center;
}

.form {
  display: flex;
  justify-content: space-between;
}

.secondStepForm {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 1.5vw;
}

.sendButton {
  height: 7vh;
  font-size: 1.5vw;
  width: 32%;
  font-weight: 700;
  border: 2px solid var(--foreground-color);
  border-radius: 12px;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  user-select: none;
  font-family: Roboto, sans-serif;
  min-height: 26px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 2vh 2px var(--foreground-color);
  }

  &:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, .50);
  }
}

.saveButton {
  width: 55%;
  height: 6vh;
  margin-top: 5vh;
  align-self: center;
}

.linkToSignInWrapper {
  width: 100%;
  display: flex;
  font-size: 1vw;
}

.alertWrapper {
  width: 65%;
}

.linkToSignIn {
  width: 32%;
  color: var(--foreground-color);
  text-decoration: none;
  user-select: none;
  text-align: center;
}

.resendCodeWrapper {
  display: flex;
  justify-content: center;

  .ghostDiv {
    width: 39%;
  }

  .resendCode {
    font-size: 1vw;
    width: 32%;
    color: var(--foreground-color);
    text-decoration: none;
    user-select: none;
    text-align: center;
  }
}

.newPasswordsForm {
  align-self: center;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.toRegistrationParagraph {
  color: #E5E5E5;
  display: inline-block;
}

.toRegistrationLink {
  text-decoration: none;
  color: var(--foreground-color);
}

.toRegistrationWrapper {
  width: 100%;
  font-size: 1vw;
  text-align: center;
  margin-top: 25vh;
  margin-bottom: -5vh;
  user-select: none;
}

@media only screen and (max-width: 768px) {
  .contentWrapper {
    width: 80%;
  }

  .pageTitle {
    font-size: 2.2vmax;
  }

  .form {
    flex-direction: column;
  }

  .instructionsParagraph {
    font-size: 4.5vmin;
  }

  .firstStepUpper {
    margin-top: 8vh;
  }

  .firstStepLower {
    margin-bottom: 10vh;
  }

  .secondStepForm {
    flex-direction: column;
  }

  .secondStepUpper {
    margin-top: 8vh;
  }

  .resendCodeWrapper {
    margin-top: 2.5vh;

    .ghostDiv {
      width: 0;
    }

    .resendCode {
      font-size: 1.5vmax;
      width: unset;
    }
  }

  .thirdStep {
    margin: 17vh auto 8vh;
  }

  .newPasswordsForm {
    width: 100%;
  }

  .sendButton {
    height: 5vh;
    align-self: center;
    font-size: 2.5vmax;
    width: 65%;
    margin-top: 5vh;
  }

  .toRegistrationWrapper {
    position: absolute;
    bottom: 5vh;
    font-size: 1.8vmax;
    margin: 0;
  }

  .toRegistrationLink {
    font-weight: 700;
  }

  .linkToSignInWrapper {
    margin-top: 2.5vh;
    font-size: 1.5vmax;
  }

  .linkToSignIn {
    width: unset;
  }
}