.pageTitle {
  font-size: 2.5vmax;
  color: white;
  display: flex;
  text-align: center;
  align-self: center;
  font-weight: 300;
  margin: auto;
}

.contentWrapper {
  width: 35%;
  height: 91%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.stepWrapper {
  width: 100%;
  height: 55%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.instructionsParagraph {
  width: 100%;
  color: white;
  font-weight: 300;
  font-size: 3.5vmin;
}

.form {
  display: flex;
  justify-content: space-between;
}

.secondStepForm {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 1.5vw;
}

.sendButton {
  height: 7vh;
  font-size: 1.5vw;
  width: 32%;
  font-weight: 700;
  border: 2px solid var(--foreground-color);
  border-radius: 7px;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  user-select: none;
  font-family: Roboto, sans-serif;
  min-height: 26px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 2vh 2px var(--foreground-color);
  }

  &:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, .50);
  }
}

.linkToSignInWrapper {
  width: 100%;
  display: flex;
  font-size: 1vw;
}

.alertWrapper {
  width: 65%;
}

.linkToSignIn {
  width: 32%;
  color: var(--foreground-color);
  text-decoration: none;
  user-select: none;
  text-align: center;
}

.resendCodeWrapper {
  display: flex;
  justify-content: center;

  .ghostDiv {
    width: 39%;
  }

  .resendCode {
    font-size: 1vw;
    width: 32%;
    color: var(--foreground-color);
    text-decoration: none;
    user-select: none;
    text-align: center;
  }
}

.newPasswordsForm {
  align-self: center;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.toRegistrationParagraph {
  color: #E5E5E5;
  display: inline-block;
}

.toRegistrationLink {
  text-decoration: none;
  color: var(--foreground-color);
}

.toRegistrationWrapper {
  width: 100%;
  font-size: 1vw;
  text-align: center;
  margin-top: 25vh;
  margin-bottom: -5vh;
  user-select: none;
}