.Input {
    border: 2px solid var(--foreground-color);
    width: 100%;
    height: 7vh;
    border-radius: 8px;
    padding: 4% 6%;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.5vw;
    margin-bottom: 3%;
    box-sizing: border-box;
    font-weight: var(--regular-weight);
    font-family: "Roboto", sans-serif;
}

.Input.invalid {
    border-color: #FF0000;
    background-color: #FFF6F6;
}