.pageTitle {
    font-size: 2.5vmax;
    color: white;
    display: flex;
    text-align: center;
    align-self: center;
    font-weight: 300;
    margin: auto;
}

.menuLink {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 2.5vmin;
}

.mainWrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
}

.contentWrapper {
    display: flex;
    overflow-x: hidden;
    align-self: center;
    flex-direction: column;
    width: 75%;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .buttonsWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        border-radius: 16px;
        padding: 24px;
        background-color: #1A2C37;
        box-sizing: border-box;
        margin-bottom: 16px;

        .button {
            height: 6vh;
            font-size: 1.3vw;
            font-weight: var(--medium-weight);
            border: 2px solid var(--foreground-color);
            border-radius: 8px;
            filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
            overflow: hidden;
            user-select: none;
            font-family: Roboto, sans-serif;
            min-height: 26px;
            padding: 0 1vw;

            &:not(:disabled):hover {
                cursor: pointer;
                box-shadow: 0 0 2vh 2px var(--foreground-color);
            }

            &:not(:disabled):active {
                box-shadow: inset 3px 3px 5px rgba(0, 0, 0, .50);
            }
        }

        .downloadResultsButton {
            margin-right: 1vw;
        }
    }

    .tableWrapper {
        border-radius: 16px;
        width: 100%;
        background-color: #1A2C37;
        padding: 4vh 2vw 3vh 1vw;
        box-sizing: border-box;
    }
}

.scrollbarView {
    padding: 0 0.5vw 0.5vw 0;
}

.intrigueParagraph {
    color: white;
    font-size: 1.3vw;
    display: flex;
    flex-direction: column;
    height: 6vh;
    justify-content: center;
}

.mainScrollbarView {
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
}

.verticalTrack {
    z-index: 0 !important;
}

.scrollbarContainer {
    height: 91% !important;
    align-self: flex-end;
}

@media only screen and (max-width: 600px) {
    .contentWrapper {
        width: 90%;

        .buttonsWrapper {

            .button {
                height: 5vh;
                font-size: 1.8vmax;
            }
        }

        .tableWrapper {
            padding: 1vh 2vw 1vh 1vw;
        }
    }

    .intrigueParagraph {
        height: 5vh;
        font-size: 1.5vmax;
    }
}
