* {
    font-family: Roboto, sans-serif;
}

.Authorization {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: #1B262C;
}

.contentWrapper {
    height: 100%;
    width: 26%;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 48%;
    height: 14%;
    margin-top: 18vh;
    margin-bottom: 8vh;
    transform: translateX(50%);
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Button {
    width: 13vw;
    height: 6vh;
    font-size: 1.3vw;
    font-weight: bold;
    border: 2px solid #3282B8;
    border-radius: 7px;
    margin-top: 4vh;
    margin-bottom: 2.5vh;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.25));
    overflow: hidden;
}

.restorePasswordLink {
    color: #3282B8;
    text-decoration: none;
}

.restoreLinkWrapper {
    width: 100%;
    text-align: center;
    font-size: 1vw;
}

.registerLinkWrapper {
    width: 100%;
    font-size: 1vw;
    text-align: center;
    margin-top: 10vh;
}

.registerParagraph {
    color: #E5E5E5;
    display: inline-block;
}

.registerLink {
    text-decoration: none;
    color: #3282B8;
}