.Header {
    width: 100vw;
    height: 9%;
    position: fixed;
    top: 0;
    background-color: var(--background-color);
    filter: drop-shadow(0 1vh 1vh rgba(50, 130, 184, 0.25));
    display: flex;
    justify-content: center;
    user-select: none;
}

.logo {
    height: 60%;
    position: fixed;
    left: 9.6%;
    top: 20%;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

.Profile {
    height: 45%;
    position: fixed;
    right: 15.6%;
    top: 30%;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

.LogOut {
    height: 45%;
    position: fixed;
    right: 10.6%;
    top: 30%;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

@media only screen and (min-width: 1400px) {

}