.Header {
  width: 100vw;
  height: 9%;
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  filter: drop-shadow(0 1vh 1vh rgba(50, 130, 184, 0.25));
  display: flex;
  z-index: 1;
  user-select: none;
}

.logo {
  width: 9vmin;
  margin-left: 80px;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.logoLink {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MenuLink {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Menu {
  height: 8vmin;
  margin-right: 30px;
}

.userActionsWrapper {
  display: flex;
}

.Profile {
  width: 4vmin;
  margin-right: 60px;
  align-self: center;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.LogOut {
  width: 4vmin;
  margin-right: 80px;
  align-self: center;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.childrenWrapper {
  padding: 0 30px;
  display: flex;
  position: relative;
  height: 100%;
  flex: 1;
}

@media only screen and (max-width: 1440px) {
  .Profile {
    margin-right: 35px;
  }

  .childrenWrapper {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 960px) {
  .Profile {
    margin-right: 30px;
  }

  .childrenWrapper {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .Header {
    height: 15vw;
  }

  .logo {
    height: 35px;
    margin-left: 30px;
  }

  .childrenWrapper {
    padding: 0 20px;
  }
}
