.menuWrapper {
    background-color: #1B262C;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.backArrow {
    position: fixed;
    top: 1vh;
    left: 1vh;
    height: 5%;
}

.linksWrapper {
    margin-top: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkWrapper {
    text-decoration: none;
    width: 90%;
    height: 6vh;
    background-color: #1B262C;
    text-align: center;
    box-shadow: 0 0 1vh 0.4vh rgba(50, 130, 184, 0.25);
    margin-bottom: 2vh;
}

.link {
    color: white;
    font-weight: 300;
    font-size: 5.5vmin;
    line-height: 6vh;
}





