$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 900;

:root {
  --regular-weight: #{$regular-weight};
  --medium-weight: #{$medium-weight};
  --bold-weight: #{$bold-weight};
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
}

ul,
ol {
  list-style: none;
}

body,
html {
  width: 100%;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--regular-weight);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
